    <!-- Start Footer Top -->
    <div class="footer-area section-ptb-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="column">
                        <div class="widget-title">
                            <h3>About me</h3>
                        </div>
                        <p>
                            {{ "Originally, I am from a mountain valley in Austria. I studied Physics in [Zurich](https://ethz.ch/de.html) (CH) and did my PhD in [Leuven](https://www.kuleuven.be/english/) (BE). Right now I am working at the research neutron source ([MLZ](https://mlz-garching.de/)) in Garching (DE)." | markdownify }}
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="column">
                        <div class="widget-title">
                            <h3>Most Popular Tags</h3>
                        </div>
                        <div class="tag-clouds">
                            {% for tag in site.tags | limit: 9 %}
                              {% assign t = tag | first %}
                              {% assign posts = tag | last %}
                              <a href="/pages/tagpage/"> {{ t }} </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="column">
                        <div class="widget-title">
                            <h3>Get In Touch</h3>
                        </div>
                        <div class="widget-content">
                            <ul>
                                <li><a href="http://twitter.com/{{site.twitter_username}}">Twitter</a></li>
                                <li><a href="http://linkedin.com/{{site.linkedin_username}}">linkedin</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="column">
                        <div class="widget-content">
                            <section class="gh-subscribe">
                                <div class="widget-title">
                                    <h3>Subscribe Now</h3>
                                    <p>Don’t miss our latest realeses and important updates</p>
                                </div>
                                <form method="post" action="{{ site.mailchimp_link }}" class="subscribe_form validate" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                                    <input class="confirm" type="hidden" name="confirm" />
                                    <input class="location" type="hidden" name="location" />
                                    <input class="referrer" type="hidden" name="referrer" />
                                    <div class="form-group">
                                        <input class="subscribe-email email" type="email" name="EMAIL" id="mce-EMAIL" placeholder="Email" required />
                                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                                    </div>
                                </form>
                            </section> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Top -->