---
layout: default
---
<!-- Start Slider Area -->
<div class="slider-area">
  <div class="container-fluid">
      <div class="row">
          <div class="slider-wrapper height-250">
              <div id="particles-js" style="background-image:url({{page.slider_image}});">
                  <div class="slider-fixed-text">
                       <h2>{{ page.title }}</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!--End Slider Area -->

<div class="appix-blog-content section-ptb">
  <div class="container">
      <div class="row">
{% unless page.content == '' %}
  <p>{{ page.content }}</p>
{% endunless %}
{% assign posts = site.categories[page.category] | size %}
{% unless posts > 0 %}
  <p>No posts in this category at this time.</p>
{% endunless %}
      </div>
      <div class="row">
        {% assign catposts = site.categories[page.category] %}
        {% include post_loops.html posts=catposts %}
      </div>
</div>
</div>
